<h3>Reactive forms</h3>
<form (ngSubmit)="login()" [formGroup]="loginForm">
    <div>
        <input formControlName="username" name="username" placeholder="Username" required type="text">
        <span *ngIf="username.touched && username.invalid" class="help-block">The username is not valid</span>
    </div>
    <div>
        <input formControlName="password" name="password" placeholder="Password" required type="password">
        <span *ngIf="password.touched && password.errors?.['required']"
              class="help-block">The password is required</span>
        <span *ngIf="password.touched && password.errors?.['minlength']"
              class="help-block">The password is too short</span>
        <span *ngIf="showPasswordHint">Password should be minimum six characters long</span>
        <span *ngIf="password.touched && password.errors?.['invalid']"
              class="help-block">Incorrect password Try again</span>
        <div>
        <app-select-dropdown [listData]="prefixList" [formGroup]="prefixCode"></app-select-dropdown>
            <span *ngIf="prefixCode.touched && prefixCode.errors?.['required']"
                  class="help-block">Please Select Prefix</span>
        </div>
    </div>
    <button [disabled]="!loginForm.valid" type="submit">Login</button>
    <div>You are trying to login as <b>{{this.username.value}}</b></div>
</form>

<div class="card mt-4 mb-3">
    <div class="card-header">
        Reactive Forms By Angular
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg" (click)="toggleEditor('name')">Name Editor</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="toggleEditor('profile')">Profile Editor</button>
        <app-name-editor-form *ngIf="showNameEditor"></app-name-editor-form>
        <app-profile-editor-form *ngIf="showProfileEditor"></app-profile-editor-form>
    </div>
</div>
