<h1>Animations</h1>

<input type="checkbox"
       id="animation-toggle"
       [checked]="!animationsDisabled"
       (click)="toggleAnimations()">
<label class="ms-2" for="animation-toggle">Toggle All Animations</label>`

<nav>
  <a id="home" routerLink="/animations/homeanimation" routerLinkActive="active" aria-current="page">Home</a>
  <a id="about" routerLink="/animations/aboutanimation" routerLinkActive="active" aria-current="page">About</a>
  <a id="open-close" routerLink="/animations/open-close" routerLinkActive="active"  aria-current="page">Open/Close</a>
  <!--  <a id="status" routerLink="/status" routerLinkActive="active" ariaCurrentWhenActive="page">Status Slider</a>-->
  <!--  <a id="toggle" routerLink="/toggle" routerLinkActive="active" ariaCurrentWhenActive="page">Toggle Animations</a>-->
  <!--  <a id="enter-leave" routerLink="/enter-leave" routerLinkActive="active" ariaCurrentWhenActive="page">Enter/Leave</a>-->
  <!--  <a id="auto" routerLink="/auto" routerLinkActive="active" ariaCurrentWhenActive="page">Auto Calculation</a>-->
  <!--  <a id="heroes" routerLink="/heroes" routerLinkActive="active" ariaCurrentWhenActive="page">Filter/Stagger</a>-->
  <!--  <a id="hero-groups" routerLink="/hero-groups" routerLinkActive="active" ariaCurrentWhenActive="page">Hero Groups</a>-->
  <!--  <a id="insert-remove" routerLink="/insert-remove" routerLinkActive="active" ariaCurrentWhenActive="page">Insert/Remove</a>-->
  <!--  <a id="querying" routerLink="/querying" routerLinkActive="active" ariaCurrentWhenActive="page">Querying</a>-->
</nav>

<div class="mt-3" [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>
