<ng-container [formGroup]="contact">
  <div class="row g-1 mb-1">
    <div class="col-3">
      <input
        id="countryCode"
        type="number"
        class="form-control"
        placeholder="PhoneCode"
        formControlName="countryCode"
        maxlength="20" />
    </div>
    <div class="col-9">
      <input
        id="phoneNumber"
        type="number"
        class="form-control"
        placeholder="PhoneNumber"
        formControlName="phoneNumber"
        maxlength="20" />
    </div>
  </div>
</ng-container>
